<div class="container" id="boxed">
  <div class="row content">
    <div class="img-responsive">
    <%= image_tag 'tree-big.png', id: "tree" %>
    </div>
    <h1 class="login-text">Login</h1>
    <div class="login">
      <form class="center_div " ng-submit="form.submit()">
        <div class="form-group has-feedback">
          <label class="login-label">Email</label>
          <input type="email" class="form-control" placeholder="email" ng-model="user.email"> 
          <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
        </div>
        <div class="form-group has-feedback">
          <label class="login-label">Password</label>
          <input type="password" class="form-control" placeholder="password" ng-model="user.password">
          <i class="glyphicon glyphicon-lock form-control-feedback"></i>
        </div>
        <input type="submit" class="block-center btn btn-default" id="loginbtn"> 
      </form>
      <p class="signup">New to the tree? Sign up <a href="#/signup">here</a></p>
    </div>
  </div>
</div>

