<div class="row">
  <div class="container">
    <h1 class="login-text">Login</h1>
    <div class="login col-xs-12">
      <form class="center_div " ng-submit="form.submit()">
        <div class="form-group">
          <label class="login-label">Email</label>
          <input type="email" class="form-control" placeholder="email" ng-model="user.email"> 
        </div>
        <div class="form-group">
          <label class="login-label">Password</label>
          <input type="password" class="form-control" placeholder="password" ng-model="user.password">
        </div>
        <input type="submit" class="block-center btn btn-default"> 
      </form>
      <p class="signup">New to the tree? Sign up <a href="#/signup">here</a></p>
    </div>
  </div>
</div>