<div class="container">
  <div class="row">
    <h1>New Update</h1>
    <br>
    <div class="col-xs-7"> 
      <form ng-submit="form.create()">
        <div class="form-group">
          <label class="connectree-labels">Title:</label>
          <input type="text" class="form-control" placeholder="Enter title" ng-model="post.title">
        </div>
        <div class="form-group">
          <label class="connectree-labels">Caption</label>
          <input type="text" class="form-control" placeholder="Enter category" ng-model="post.caption">
        </div>
        <button type="submit" class="btn btn-default pull-right connectree-labels">Submit</button>
      </form>
    </div>
  </div>
</div>