
<div class ="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h1>Welcome to Connectree</h1>
    </div>
  </div>
</div>


<!-- <div id="home">
  <div class="container">
    <div class="row" id="front">
      <div class="col-xs-12" id="changingBorder">
        <div class="col-xs-12 col-md-6" id="homePage">
          <div id="content">
            <h1 id="welcome-title">Welcome to Connectree</h1>
            <h2>A smiple platform for you to connect with your family...</h2>
            <p id="summary">In a world where music is the universal language of mankind, and where cultures and nations embedd their individual essence into their musical tunes. GlobeTunes is an innovative project dedicated to bringing you the best tunes from each country.</p>
            </div>
          <div id="enter"> 
            <a class="fa fa-arrow-circle-right fa-3x"  href="/#/login"></a> 
          <div>
        </div>
      </div> 
    </div>
  </div> 
</div>
 -->
