<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12" id="welcome-title">
      <i> <%= image_tag 'tree-big.png', id: "tree-carousel" %></i>
      Welcome to Connectree
    </div>
  </div>
  

  <div class="row" id="enter">
     
    <h2 class="col-xs-8 col-xs-offset-2" id="subheader">A smiple platform for you to connect with your family...<a class="fa fa-arrow-circle-right fa-1x"  href="/#/login"></a></h2> 
  </div>
</div>

