#boxed {
  margin-left: 470px !important;
  margin-top: 100px !important;
  background-color: rgba(245, 245, 245, 0.59) !important;
  margin-top: 167px !important;

}
.log {

background-color: rgba(245, 245, 245, 0.59) !important;
  margin-top: 167px !important;
}

h1 {
  text-align: center;
  font-family: -webkit-pictograph !important;
}

.signup-text {
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
 font-style: bold;

}

#submitBtn  {
  background-color: rgba(140, 199, 40, 0.73);
  border-color: transparent;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
}

label {
  font-size: 20px !important;
}

#loginbtn {
 background-color: rgba(140, 199, 40, 0.73);
  border-color: transparent;
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
}

