  
#createNewPost {
  background-color: rgba(245, 245, 245, 0.52);
  margin-left: 280px;
  margin-right: 280px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 45px;
  padding-top: 25px;
}

#upload-panel {
  float: right !important;
  padding-top: 5px !important;
  padding-bottom: 8px !important;

}

.connectree-labels {
  margin-right: 14px;
  margin-top: 2px;
}

#pageTitle {
  color: white;
  text-shadow:5px 5px 5px #000000;
}