<div class="navbar navbar-default navbar-fixed-top" id="header">
  <div class="container-fluid" id= "nav-style">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-brand navTitle">
      <a class="img img-responsive" href="/#/feed"><%= image_tag 'tree-big.png', id: "navbar-tree" %>ConnecTree</a>
    </div>
    <div class=" pull-right collapse navbar-collapse" id="#bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active" id="activePage"><a href="/#/feed">TreeUpdates</a></li>
        <li><a href="#/new_posts">{{ user.name }}</a></li>
      </ul>
      <div class="navbar-text">
        <button id="logout-btn" sng-click="form.logout()" ng-controller="LoginCtrl" class="btn btn-xs glyphicon glyphicon-log-out" aria-hidden = "true"></button>
      </div>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="container col-xs-12" id ="timeline-container">
    <ul class="timeline">
      <li ng-class="$index % 2 == 0 ? '' : 'timeline-inverted'" ng-repeat="post in posts track by $index">
        <div ng-class="$index % 2 == 0 ? 'timeline-badge' : 'timeline-badge info'"><i class="glyphicon glyphicon-tree-deciduous"></i></div>
        <div class="timeline-panel" id ="color">
          <div class="timeline-heading">
            <h4 class ="author"><bold>{{ post.user_name }}</bold></h4>
            
            <p><small class="text-muted"><i class="glyphicon glyphicon-leaf"></i> {{ post.created_at | date:'MMM-dd-yyyy' }}</small></p>
          </div>
          <div class="timeline-body">
            <img ng-src="{{ post.picture }}" ng-click ="picInfo(post.id)" class="img-responsive" ng-hide="post.picture == '/pictures/original/missing.png' || post.picture == '' || post.picture == null"><br>

            <h4 class="timeline-title">{{ post.title }}</h4>
            {{ post.caption }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>



