<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <!-- <li><a class="navbar-brand" href="#"><img src="connecTree.jpeg" alt=""></a></li> -->
          <li class="sidebar-brand"><a href="#">TreeUpdates</a></li>
          <li><a href="/#/new_posts"> {{ user.name }} </a></li>
          <li><a href="#">QL</a></li>
        </ul>
    </div>
  <div id="page-content-wrapper">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div ng-repeat="post in posts track by $index">
              <div class="page-header">
                {{ post.title }}
                {{ post.caption }}
             
                <small>
                  {{ post.created_at | date:'MMM-dd-yyyy' }}
                </small>
              </div>
            </div>
            <div class="navbar-text">
              <button ng-click="form.logout()" ng-controller="LoginCtrl" class="btn btn-xs glyphicon glyphicon-log-out" aria-hidden = "true"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>